<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.ieftimov.observer</string>

        <key>RunAtLoad</key>
        <true/>

        <key>KeepAlive</key>
        <true/>

        <key>ProgramArguments</key>
        <array>
          <string>/usr/local/bin/observer</string>
          <string>-config</string>
          <string>/etc/observer.conf</string>
        </array>

        <key>StandardOutPath</key>
        <string>/tmp/observer.log</string>

        <key>StandardErrorPath</key>
        <string>/tmp/observer.error.log</string>
    </dict>
</plist>
